<div class="dashboard-cards--container">
  <orion-platform-basic-widget
    [title]="supplyVisibilityTitle.title"
    [subtitle]="supplyVisibilityTitle.subtitle"
    link="material-management"
    icon="supply-visibility-logo"
  >
  </orion-platform-basic-widget>

  <orion-platform-basic-widget
    [title]="materialManagementDashboardTitle.title"
    [subtitle]="materialManagementDashboardTitle.subtitle"
    link="material-management/material-configuration-dashboard"
    icon="configurator-logo"
  >
  </orion-platform-basic-widget>
  <orion-platform-basic-widget
    [title]="materialManagementCommitsTitle.title"
    [subtitle]="materialManagementCommitsTitle.subtitle"
    link="material-management/commits"
    icon="commits"
  >
  </orion-platform-basic-widget>
</div>
