#forecastReangeNavigator_SelectedArea {
    fill: #7242bf !important;
  }
  
  #forecastReangeNavigator_FirstLevelAxisLabels text {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  
  *[id$='RANGE_NAVI_FirstLevelAxisLabels'] text {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  
  *[id$='RANGE_NAVI_SelectedArea'] {
    fill: #7242bf !important;
  }
  